<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajustes Médicos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesAjustemedicos.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/Veterinaria.ico') }}">

</head>
<body>
    <!-- Letrero de veterinarios -->
    <div id="veterinarios">
        <h1>Veterinarios</h1>
    </div>

    <!-- Contenedor principal -->
    <div id="main-container">
        <!-- Campos para registro -->
        <div id="registro">
            <label for="nombreVeterinario"></label>
            <input id="nombreVeterinario" type="text" required placeholder="Ingrese Nombre">
            <label for="apellidoVeterinario"></label>
            <input id="apellidoVeterinario" type="text" required placeholder="Ingrese Apellido">
            <label for="rol"></label>
            <input id="rol" type="text" required placeholder="Ingrese Rol">
            <button id="crearVeterinario">CREAR</button>
        </div>

        <!-- Lista de veterinarios -->
        <div id="ListaDeVeterinarios">
            <ul id="listaVeterinarios"></ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/scriptAjustesMedicos.js') }}"></script>
</body>
</html>

