<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='imagenes/Veterinaria.ico') }}"> <!-- Agregamos el ícono de la veterinaria -->
  <title>Asignación de Turnos</title>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>

  <!-- Encabezado principal -->
  <header class="top-header">
    <div class="header-content">
      <h1>Clínica Veterinaria Happy Pet</h1>
      <div class="logo-container">
        <img class="logo" src="{{ url_for('static', filename='imagenes/logo.png') }}" alt="Logo de la clínica">      
        <button id="settings-button">AJUSTES</button>
      </div>
    </div>
  </header>

  <!-- Contenedor principal -->
  <div class="main-container">
    
    <!-- Lado izquierdo: Formulario -->
    <div class="appointment-form">
      <h2>Registrar Turno</h2>
      
      <label for="codigo_mascota"></label>
      <input type="number" id="codigo_mascota" placeholder="Código Mascota" required>
    
      <label for="mascota"></label>
      <input type="text" id="mascota" placeholder="Nombre Mascota" required>
    
      <label for="servicio"></label>
      <select id="servicio" required>
        <option value="">Seleccione un servicio</option>
        <option value="consulta">Consulta</option>
        <option value="vacunacion">Vacunación</option>
        <option value="control">Control</option>
        <option value="ecografia">Ecografía</option>
        <option value="hospitalizacion">Hospitalización</option>
        <option value="emergencia">Emergencia</option> <!-- Agregamos Emergencia -->
      </select>
    
      <label for="veterinario"></label>
      <select id="veterinario" required>
        <option value="">Seleccione un veterinario</option>
      </select>
    
      <div class="buttons">
        <button id="crearTurno">Crear</button>
      </div>
    </div>

    <!-- Lado derecho: Sección de Turnos Activos -->
    <aside class="sidebar">
      <section class="appointments-section">
        <h2>Turnos Activos</h2>
        <div id="listaTurnos" class="appointments-list">
          <!-- Los turnos se agregarán dinámicamente aquí -->
        </div>    
      </section>
    </aside>

  </div>

  <!-- Modal -->
  <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <iframe id="modal-iframe" src=""></iframe>
    </div>
  </div> 

  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
